# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CSE-6350\Project1_A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
